name: Machine Learning CI Workflow

on:
  push:
    branches: [ main ]
    paths:
      - 'MLProject/**'

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install MLflow
        run: pip install mlflow dagshub scikit-learn pandas matplotlib seaborn

      - name: Run MLflow Project
        run: |
          mlflow run MLProject/ --no-conda

      # Kriteria Skilled: Menyimpan artefak ke GitHub
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: trained-model
          path: mlruns/